<header>
	<nav>
		<div class="row">
			<div class="small-12">
				<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
					<button class="menu-icon" type="button" data-toggle></button>
					<div class="title-bar-title"><a href="#">Site Title</a></div>
				</div>

				<div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top hinge-out-from-top">
					<div class="top-bar-left">
						<ul class="menu">
							<li class="logo"><a href="#">Site Title</a></li>
						</ul>
					</div>
					<div class="top-bar-right">
						<ul class="menu">
							<li><a href="#">home</a></li>
							<li><a href="#">faq</a></li>
							<li><a href="#" *ngIf="!isLoggedIn" class="button login-btn" data-open="login" (click)=login()>login</a></li>
							<li><a href="#" *ngIf="isLoggedIn" class="button login-btn" (click)="logOut()">LogOut</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="callout text-center">
		<h1>Create a Knowledge Base with Ease.</h1>
		<p>It has an easy to override visual style, and is appropriately subdued.</p>
		<div class="large-4 small-12 large-offset-4">
			<div class="input-group input-group-rounded">
				<input class="input-group-field" type="search">
				<div class="input-group-button">
					<div class="button secondary">
						<i class="fa fa-search"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="row">
	<div class="small-12 columns">
		<filter></filter>
		<qalist></qalist>
	</div>
</div>
<div class="small-12">
	<support></support>
</div>

<footer>
	<nav>
		<div class="row">
			<div class="large-6 small-12 large-offset-3 columns">
				<ul class="menu copyright">
					<li>&copy; Copyrights 2017 Powered by Tavant Technologies</li>
				</ul>
			</div>
		</div>
	</nav>
</footer>

<!-- This is the first modal -->
<login [value]="isLoggedIn" (change)="isUserLoggedIn($event)"></login>

<signUp></signUp>