/*Reuseable Styles*/

@import url('//fonts.googleapis.com/css?family=Roboto:400,500,700');
$font-stack: 'Roboto', sans-serif;
$white-color: #fff;
$blue-color: #00a3d6;
$upper-case: uppercase;
a {
  color: $white-color
}
body {
  font-family: $font-stack
}


// Header Styles Starts Here

header {
    background-color: $blue-color;
    display: inline-block;
    width: 100%;
    .menu {
      .login-btn {
          background: $white-color;
          border-radius: 3px;
          color: $blue-color;
          &:hover {
            background-color: #14679e;
            color: $white-color;
          }
      }
    }
    .input-group-field {
      &:focus {
        border: 1px solid #fefefe;
      }
    }
}
header .top-bar, header .top-bar ul {
    background-color: $blue-color;
    color: $white-color
 }
 header .menu > li > a {
   text-transform: $upper-case;
   color: $white-color
 }
 
 header .callout {
    border: none;
    background-color: transparent;
    color: #fff;
}
.callout .button.secondary {
    background-color: #fff;
    color: #777;
}

.input-group-rounded {
  .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: inset 0 1px 2px #fff;
  }

  .input-group-button .button {
    background-color: #fff;
    color: #767676;
    &:hover {
      background-color: #14679e;
    }
  }
}

#login {
  .btn-custom {
    width: 100%;
  }
}

 // Header Styles Ends Here

 // Footer Styles Starts Here

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    .menu {
    text-align: center;
      li {
      display: block;
      padding: 15px 0;
    }
  }
}

// Footer Styles Ends Here

//FIlter style starts here

.filter-section {
  padding: 2rem 0 1rem;
  .callout{
    width: 100%;
    border: 1px solid #00a3d6;
    border-radius: 3px;
    padding: 2rem;
    a {
      color: #00a3d6;
    }
    &:hover {
      background-color: #00a3d6;
    }
    &:hover a {
      color: #fff;
    }
  }  
}

//FIlter style ends here


//QA List style starts here

.qa-list {
    padding-top: 20px; 
      .list-group {
        list-style-type: none;
        margin-left: 0;
      .list-group-item {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        a {
          color: #777;
          display: block
        }
        i {
          float: right;
        }
    }
  }
}

//QA List style Ends here

//Support List style starts here
.support {
    background-color: #f8f8f8;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding: 3rem 0 1rem;
    .btn-support {
      background-color: #02b3e4;
      border-radius: 10px;
  }
}
//Support List style ends here

//Reveal style
#login {
  padding: 0;
  border: none;
  .reveal-body {
      padding: 1rem;
  }
  h3 {
    background-color: #02b3e4;
    color: $white-color;
    padding: 0.5rem;
  }
  .close-button {
      color: #fefefe;
  }
}