<div class="support">
    <div class="row">
        <div class="large-12 small-12 text-center columns">
            <p><strong>Can't find what you are looking for?</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam pariatur incidunt velit consequatur, ex ducimus quos temporibus deleniti.</p>
            <div class="large-2 small-12 large-offset-5">
                <a href="#" class="button btn-support">Contact Support</a>
            </div>
        </div>
    </div>
</div>