<div class="filter-section">
	<div class="row">
        <div class="large-4 small-12 columns">
            <div class="callout panel button">
                <a href="#">Ask Question</a>
            </div>
        </div>
        <div class="large-4 small-12 columns">
            <div class="callout panel button">
                <a href="#">Post Article</a>
            </div>
        </div>
        <div class="large-4 small-12 columns">
            <div class="callout panel button">
                <a href="#">FAQ</a>
            </div>
        </div>
	</div>
</div>
<hr>