<div class="qa-list">
	<div class="row">
		<div class="large-6 small-12 columns">
			<h3>Recent Articles</h3>
			<ul class="list-group">
				<li class="list-group-item">
					<a href="#">List Group Item 1 
					<i class="fa fa-angle-right"></i></a>
				</li>
				<li class="list-group-item">
					<a href="#">List Group Item 2
					<i class="fa fa-angle-right"></i></a>
				</li>
				<li class="list-group-item">
					<a href="#">List Group Item 3
					<i class="fa fa-angle-right"></i></a>
				</li>
			</ul>
		</div>
		<div class="large-6 small-12 columns">
			<h3>Recent Questions</h3>
			<ul class="list-group">
				<li class="list-group-item">
					<a href="#">List Group Item 1 
					<i class="fa fa-angle-right"></i></a>
				</li>
				<li class="list-group-item">
					<a href="#">List Group Item 2
					<i class="fa fa-angle-right"></i></a>
				</li>
				<li class="list-group-item">
					<a href="#">List Group Item 3
					<i class="fa fa-angle-right"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>